<template>
  <div>
    <div class="tabs">
      <div class="tab" @click="openassets" :class="{activetab: !showlist}"> Tai san</div>
      <div class="tab" @click="openlist" :class="{activetab: showlist}"> Danh muc </div>
    </div>
    

      <div v-if="showlist">
	<table class="listtable">
	  <tr v-for="element in list"><td class="left">
	      <b>{{element.name}}</b><br><br>
	      Ty le von/ gia tri dau tu: {{element.capitaltoinvestment}}
	    </td><td class="right">
	      {{element.value}} d<br><br>
	     <strong :style="{color: element.color}"> {{element.profit}} d ({{element.profitrate}})</strong>
	  </td></tr>
	</table>
      </div>

      <div v-else>
	<table class="assetstable">
	  <tr v-for="row in assets">
	    <td class="left"> {{ row.name }}: </td>
	    <td class="right"> {{ row.value }} d </td>
	  </tr>
	</table>
      </div>
    
    
    
  </div>
</template>

<style scoped>
  .tabs {
  display: flex;
  flex-flow: row wrap;

  margin-top: 5%;
  margin-left: -5%;
  margin-right: -5%;

  }
  .tab {
  width: 50%;
  font-size: 1rem;
  background-color: #ced1d6;
  color: black;
    padding: 1% 0%;
  }
  .activetab {
  background-color: #0bbe32;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 1px lightgrey;
  }

  table {
  width: 100%;
  color: black;
  }

  .listtable td {
  width: 50%;
  padding: 5% 0%;
  border-bottom: 1px solid lightgrey;
  }

  .left {
  text-align: left;
  }
  .right {
  text-align: right;
  }





  .assetstable td {
  padding: 2% 0%;
  font-size: 1rem;
  }

  .assetstable tr:nth-child(even) {
  background-color: #ededed;
  }


  
</style>

<script>
  let assets = [
  {
  name: 'Tong tai san',
  value: '100.000.000'
  },
  {
  name: 'Von dau tu',
  value: '100.000.000'
  },
  {
  name: 'Gia tri dau tu',
  value: '110.000.000'
  },
  {
  name: 'So du tai khoan',
  value: '10.000.000'
  },
  {
  name: 'So tien cho ve',
  value: '10.000.000'
  },
  {
  name: 'So tien duoc rut',
  value: '10.000.000'
  }
  ]
  
  let list = [
  {
  name: 'ETFVN30',
  capitaltoinvestment: '30%',
  value: '100.000.000',
  profit: '+10.000.000 d',
  profitrate: '+10%',
  color: 'green',
  },
  {
  name: 'VFM4',
  capitaltoinvestment: '30%',
  value: '100.000.000',
  profit: '-10.000.000',
  profitrate: '-10%',
  color: 'red'
  },
  {
  name: 'ETFVN30',
  capitaltoinvestment: '30%',
  value: '100.000.000',
  profit: '+10.000.000',
  profitrate: '+10%',
  color: 'green'
  
  }
  ]
  
  export default {
  name: 'Account',
  data () {
  return {
  showlist: true,
  list: list,
  assets: assets
  }
  },
  methods: {
  openassets: function(){
  this.showlist = false
  },
  openlist: function(){
  this.showlist = true
  }


  }
  }
  
</script>
