<template>
  <div>
    <div class="runner"><i class="arrow-left"></i> &nbsp; Nap them</div>

    <div v-if="showpage1">
    <table>
      <tr>
	<td class="left">So tien nap them: </td><td><input value="10.000.000 d"></td></tr>
      <tr>
	<td class="left">Ngan hang: </td>
	<td>
	  <select>
	    <option> Ngan hang TMCP Quan doi </option>
	  </select>
      </td></tr>
    </table>
    </div>

    <div v-else>
      <table>
	<tr> <td class="left">So tai khoan: </td> <td> <input value="123456"></td></tr>
	<tr><td class="left">Ten tai khoan: </td><td><input value="Nguyen Van A"></td></tr>
	<tr><td class="left">Chi nhanh: </td><td><input value="Chi nhanh Ha Noi"></td></tr>
	<tr><td class="left">Cu phap chuyen tien: </td><td> <input value="abcxyz"></td> <span class="copy">Copy</span>  </tr>
	
      </table> <br><br>

      <button> Hoan thanh </button>
      
    </div>
    
    <br><br>

    <button @click="changepage"> {{label}} </button>

  </div>
</template>

<style scoped>
  * {
  font-size: 14px;
  }
  .runner {
  font-weight: bold;
  text-align: left;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-top: 2%;
  padding-bottom: 2%;
  color: black;
  }
  table {
  margin-top: 2%;
  }
  .left {
  text-align: left;
  color: #808080;
  width: 50%;
  }
  input {
  text-align: center;
  background-color: #c4c4c4;
  border: none;
  border-radius: 4%;
  padding: 2% 0%;
  font-weight: bold;
  }
  i {
  border: solid grey;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  }
  .arrow-left {
  transform: rotate(135deg);
  }
  select {
  width: 100%;
  }
  button {
  background-color: var(--coi-green);
  border: none;
  padding: 2% 10%;
  border-radius: 7%;
  color: white;
  font-weight: bold;
  }
  .copy {
  font-weight: bold;
  color: var(--coi-orange);
  }
  
</style>

<script>

  export default {
  name: 'Addmore',
  data() {
  return {
  showpage1: true,
  label: 'Tiep tuc',
  }
  
  },
  methods: {
  changepage: function(){

  this.showpage1 = !this.showpage1;
  if (this.showpage1 == true) {
  this.label = "Tiep tuc"
  } else {
  this.label = "Quay lai"
  }
  
  }

  }

  }
  
  </script>
