<template>
  <div class="container">
    <div class="section logo-small">
      <img src="../assets/coi-logo-small.png">
    </div>

    <div class="section button-container">
      <router-link to="/login">
	<div>
	  <div class="my-button">
	  <div class="left-half-circle is-green"></div>
	  <div class="rectangle is-green white-text">
	    Dang nhap
	  </div>
	  <div class="right-half-circle is-green"></div>
	  </div>
	  </div>
      </router-link>
      
      <div>
	<div class="my-button">
        <div class="left-half-circle"></div>
	<div class="rectangle green-text">
	  Dang ky
	</div>
	<div class="right-half-circle"></div>
	</div>
	</div>
    </div>
  </div>
</template>

<style scoped>
.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    }
.section {
    height: 50%;
}
.logo-small {
    padding-top: 20%;
}
.button-container {
    padding-top: 15%;
}

.my-button {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.1em;
    padding-left: 20%;
    margin: 5% auto;
}
.rectangle {
  width: 50%;
  border: solid var(--coi-green);
  border-width: 1px 0;
  padding: 2% 10%;
  height: 35px;
}
.left-half-circle {
  border-radius: 50% 0% 0% 50%;
  height: 35px;
  width: 35px;
  border: 1px solid var(--coi-green);
  border-right: none;
}
.right-half-circle {
  border-radius: 0% 50% 50% 0%;
  height: 35px;
  width: 35px;
  border: 1px solid var(--coi-green);
  border-left: none;
}
a:link {
    text-decoration: none;
}
@media screen and (min-width: 600px) {
    .rectangle {
	padding: 1%;
    }
    .logo-small {
	padding-top: 15%;
    }
    .button-container {
	padding-top: 10%;
    }
    .button {
	margin: 3% auto auto 2%;
    }
}
</style>
