<template>
  <div>
    <div v-if="isAuth">
      <router-link to="/Profile">Profile</router-link>
      <router-view to="/Profile" />
      </div>

    <div v-else>
      <div class="orange-backdrop">
	<div class="coi-logo-only">
	  <img src="../assets/coi-logo-small.png">
	</div>
	<div class="page-title white-text is-centered">
	  Dang nhap
	</div>
	{{msg}}
	<div class="login-box is-centered">
	  <form id="login" @submit.prevent="login">
	    <p class="input-label">So dien thoai</p>
	    <input class="form-input" type="text" v-model="phone" placeholder="(+84)...">
	    <p class="input-label">Mat khau</p>
	    <input class="form-input" type="password" v-model="pass" placeholder="***">
	    <br>
	    <a href="#"><p class="forget">Quen mat khau?</p></a>
	    <br>
	    
	    
	    <div class="login-button">
	      <div class="left-half-circle is-green"></div>
	      <button value="submit">
		Dang nhap</button>
	      <div class="right-half-circle is-green"></div>
	    </div>
	    
	    
	</form>
	  
	  <p class="new-signup">Nguoi dung moi? <a href="#" class="green-text">Dang ky</a></p>
	  
	</div>
      </div>
    </div>
  </div>
</template>
<style scoped>
  
  .orange-backdrop {
  height: 300px;
  width: 100%;
  background-color: var(--coi-orange);
  }
  .coi-logo-only {
      width: 115px;
      overflow: hidden;
      border-radius: 20%;
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%,0%);
  }
  .coi-logo-only img {
      width: 300px;
      margin: -5px 0 -10px -5px;
  }
  .is-centered{
      left: 50%;
      transform: translate(-50%,0);
  }
  .page-title {
  position: absolute;
  top: 31%;
  font-size: 1.1rem;
  }
  .login-box {
  position: absolute;
  top: 37%;
  background-color: white;
  border-radius: 4%;
  padding: 5%;
  height: 60%;
  width: 85%;
  padding-top: 10%;

  }
  .input-label {
  font-weight: bold;
  text-align: left;
  }
  .form-input {
  border: none;
  border-bottom: 1px solid var(--coi-grey);
  width: 100%;
  padding-bottom: 3%;
  }
  .forget {
  text-align: right;
  color: var(--coi-grey);
  }
  .login-button {
  position: absolute;
  top: 70%;
  left: 20%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  }
  button {
  border: none;
  background-color: var(--coi-green);
  color: white;
  font-weight: bold;
  padding: 2% 0%;
  width: 50%;
  cursor: pointer;
  font-size: 1.2em;
  }

  .left-half-circle {
  height: 35px;
  width: 35px;
  border-radius: 50% 0 0 50%;
  }
  .right-half-circle {
  height: 35px;
  width: 35px;
  border-radius: 0 50% 50% 0;
  }
  .is-green {
  background-color: var(--coi-green) ;
  }


  .new-signup {
  position: absolute;
  top: 90%;
  left: 30%;
  }
  a:link {
  text-decoration: none;
  }
  .green-text {
  color: var(--coi-green);
  font-weight: bold;
  }
  @media screen and (min-width: 500px) {
  .login-box {
  padding: 5%;
  }
  button {
  padding: 0%;
  }
  .new-signup {
  left: 35%;
  }
  }
  @media screen and (min-width: 800px) {
  .new-signup {
  left: 40%;
  }
  }
</style>
<script>

  export default {
  name: 'LoginPage',
  data(){
  return {
  msg: '',
  phone: '',
  pass: '',
  isAuth: false
  }
  },
  methods: {
  login: function(){
  if (this.phone == '123' && this.pass == '123') {
  this.isAuth = true
  }
  else
  this.msg = "phone = 123 & pass = 123"

  }
  }
  
  
  }
  
</script>
