<template>
 

  <div class="container">
    <div class="section logo">
      <img src="../assets/coi-logo.png">
    </div>
    <router-link class="section" to="/entry"> Next </router-link>
    <div class="section bar">
      <div class="loading-bar">
	<div class="loaded-bar">
	</div>
      </div>
    </div>
  </div>


</template>
<style scoped>
  .container {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      height: 100%;
  }
  .section {
      height: 30%;
      width: 100%;
      text-align: center;
  }
  .logo {
      height: 40%;
      padding-top: 20%;
  }
  .bar {
      padding-top: 20%;
  }
  .loading-bar {
  height: 2px;
  width: 40%;
  background-color: #e3e3e3;
  border-radius: 1%;
  margin: auto;
  }
  .loaded-bar {
  height: 2px;
  width: 80%;
  background-color: var(--coi-green);
  border-radius: 1%;
  }
  @media screen and (min-width: 600px) {
      .logo {
	  padding-top: 10%;
      }

      .bar {

	  padding-top: 10%;
	  }

      }
</style>
