<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  
}

:root {
    --coi-orange: #ff8e01;
    --coi-green: #22b14c;
    --coi-green-inside: #0bbe32;
    --coi-grey: #b0abab;
    --coi-grey3: #333;
    --coi-grey8: #808080;
    }

* {
    box-sizing: border-box;
}


html, body {
    font-size: 0.9rem;
    margin: none;
    height: 100%;
    }
.white-text {
    color: white;
    font-weight: bold;
}
.green-text {
    color: var(--coi-green);
    font-weight: bold;
}
.is-green {
    background-color: var(--coi-green);
    }
.container {
    height: 100%;
    }
table {
    border-collapse: collapse;
    }

</style>
